
<h4 class="text-center">Related Products</h4>
<nav class="nav">
    <ul>
        <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="p in relatedProducts">
            <div class="well" style="width: 100%;">
                <a ng-href="product/{{p.InteropID}}">
                    <div ng-show="p.LargeImageUrl">
                        <img class="img-responsive" ng-src="{{p.LargeImageUrl}}"/>
                    </div>
                    <div class="empty" ng-show="!p.LargeImageUrl">
                        <span class="fa empty"><i class="fa fa-camera"></i></span>
                    </div>
                    <h5 ng-bind-html="p.Name" />
                </a>
            </div>
        </li>
    </ul>
</nav>
</div>
